<app-header></app-header>
<!-- login.component.html -->
<div class="background-container" style="margin-top: 50px;" >
  <img src="hero4.jpg" height="80" width="100" class="background-image" alt="Background Image">
  <div class="login-card">
    <h2 class="text-center">Log In</h2>
    <form id="loginForm">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="john.smith@example.com" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Log In</button>
      <div class="text-center mt-3">
        <a href="#" class="btn btn-link">Forgot Password?</a>
        <a href="#" class="btn btn-link">Sign Up</a>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>

