.card {
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.glass-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
}

.section-title {
  margin: 40px 0 20px;
  text-align: center;
}

.our-history {
  background-color: #f8f9fa; /* Light background color */
  padding: 40px 0;

}

.our-history .container {
  background: transparent;
  height: 200px;
}

.team-member img {
  border-radius: 50%;
  width: 170px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}

.social-icons a {
  margin: 0 5px;
  color: #333;
  font-size: 1.2em;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}
